@font-face {
    font-family: 'KoreanFont';
    font-style: normal;
    src: url(./fonts/koreanfont.ttf) format('ttf');
}

@font-face {
    font-family: 'KoreanFont';
    font-style: normal;
    src: url(./fonts/koreanfont.otf) format('otf');
}

@font-face {
    font-family: 'KoreanFont2';
    font-style: normal;
    src: url(./fonts/koreanfont2.ttf) format('ttf');
}

html {
    background-color: #E8E9EB;
    cursor: url(../assets/cursor.png), auto;
}

html,
body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    /* background: #E8E9EB; */
    color: #E8E9EB;
    font-size: 16px;
}

a,
button:hover {
    cursor: url(../assets/cursor.png), auto;
}


/* SIDEBAR CSS STARTS HERE!!!!!! */


/* left sidebar content; class top = img, title, description, and a; bottom = contact me info */

#sidebar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    overflow: hidden;
    font-size: 12px;
    background-color: #090B0B;
    /* padding: 100px 62px 100px 63px; */
}

.top {
    margin-top: 100px;
}

#sidebar .top a {
    text-decoration: none;
    color: #E8E9EB;
}

#sidebar .top a:hover {
    background-color: #E8E9EB;
    color: #090B0B;
}

#sidebar .top img {
    width: 175px;
    height: 212px;
}

.cutest-pic {
    margin: 0;
}


/* content is title, description, and portal link */

.content {
    width: 175px;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: DM Sans;
    font-style: normal;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px;
}

.description {
    line-height: 16px;
    margin: 0;
    margin-bottom: 20px;
}

.bottom {
    margin-top: 37px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 63px;
    width: 300px;
}

.bottom p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;
    width: 175px;
}

.bottom ul {
    padding: 0;
    width: 175px;
}

.bottom ul li {
    line-height: 16px;
    list-style-type: none !important;
    width: 175px;
}

.bottom ul li a {
    text-decoration: none;
    color: #E8E9EB;
}

.bottom ul li a:hover {
    background-color: #E8E9EB;
    color: #090B0B;
}


/* SIDEBAR CSS STOPS HERE!!!!!! */

.main-content {
    margin-left: 300px;
}


/* heading css starts here */


/* #title {
    display: inline-block;
    font-size: 120px;
    font-family: 'KoreanFont';
    color: #090B0B;
    width: 119px;
} */

#text {
    position: absolute;
    width: 400px;
    height: 768px;
    left: 339.67px;
    top: 0px;
}

#gallery {
    position: absolute;
    width: 420px;
    height: 100%;
    left: 826px;
    overflow-y: scroll;
    overflow-x: hidden;
    /* w3school documentation: */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#gallery div {
    margin-bottom: 40px;
    height: 300px;
    transition: transform 220ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery div:hover {
    transform: scale(1.05);
    /* below is my futile effort to make the images darken upon hover lol */
    /* background: linear-gradient(0deg, #090B0B60, #090B0B60), url(.jpg); */
}

.overlay {
    display: none;
    position: absolute;
    width: calc(100vw - 300px);
    height: 100vh;
    background: rgba(0, 0, 0, 0.753);
    justify-content: center;
    align-items: center;
}

.overlay .inner {
    height: 472px;
    width: 780px;
    background-color: #E8E9EB;
    color: black;
    padding: 40px;
}

.overlay.open {
    display: flex;
}

.overlay h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: 30px;
    line-height: 33px;
}

.overlay p {
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    line-height: 15.4px;
}

#controls {
    position: absolute;
    height: 69px;
    width: 29px;
    left: 1288px;
    top: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#controls>* {
    transition: transform 220ms;
}

#controls>*:hover {
    transform: scale(1.2);
}