html {
    background-color: #02153B;
    cursor: url(../assets/cursor.png), auto;
}

html,
body {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    /* background: #E8E9EB; */
    color: #090B0B;
    font-size: 16px;
}

a,button:hover {
    cursor: url(../assets/cursor.png), auto;
}

.vertical-line {
    width: 3px;
    min-height: 100%;
    border-radius: 100px;
    background: #2b3e46 !important;
}

.vertical-line-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .left a {
    text-decoration: none;
    color: #090B0B;
}

.sidebar .left a:hover {
    background-color: #090B0B;
    color: #E8E9EB;
}

.sidebar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 515px;
    height: 100vh;
    overflow: hidden;
    font-size: 12px;
}

.sidebar .left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 175px;
    height: calc( 100vh - 200px);
    padding: 100px 62px;
    background: #E8E9EB;
    color: #090B0B;
    font-size: 12px;
}

.sidebar .left .top .cutest-pic {
    width: 100%;
    margin: 0 0 20px 0 !important;
    margin-bottom: 20px;
}

.sidebar .left .top .cutest-pic img {
    width: 100%;
    object-fit: cover;
}

.sidebar .left .top .content .title {
    font-size: 32px;
    /* font-weight: 700; */
    margin-bottom: 20px;
}

.sidebar .left .top .content .description {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar .left .top .content {
    margin-bottom: 80px;
}

.sidebar .right {
    height: calc( 100vh - 200px);
    padding: 100px 62px;
}

.sidebar .right {
    width: 175px;
}

.sidebar .right .nav-buttons {
    display: flex;
    justify-content: space-between;
    height: 94px;
    width: 175px;
}

.sidebar .right .nav-buttons .vertical-line {
    height: 94px;
    background: #31363850 !important;
}

.sidebar .right .nav-buttons .content {
    width: 155px;
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .right .content a {
    color: #090B0B;
    text-decoration: none;
    display: inline;
    width: unset;
}

.sidebar .right .content a:hover {
    background-color: #090B0B;
    color: #E8E9EB;
}

main{
    margin-left:300px;
    position: relative;
width: 1066px;
height: 768px;
}

#images > img{
    position: absolute;
}

#images > img#stars{
    width: 1043.41px;
    height: 411.8px;
    left: 22.59px;
    top: 17.73px;

}
#images > img#spookyPPOP{
    width: 131.15px;
    height: 172.87px;
    left: 213.26px;
    top: 285.24px;
}

#images > img#pumpkinTop  {
    width: 261.09px;
    height: 140.93px;
    left: 128.64px;
    top: 349px;
}
#images > img#frontLayer  {
    width: 1066px;
    height: 534.5px;
    left: 0px;
    top: 233.5px;
}
#images > img#potionAnimation  {
    width: 30.74px;
    height: 58.34px;
    left: 450.78px;
    top: 469.16px;
}
 img#broom  {
    position: absolute;
    width: 103.5px;
    height: 385.43px;
    left: 919px;
    top: 291px;
    
}

#helpButton {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1256px;
    top: 661px;
    background: #FFA62B;
    border-radius: 100%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #02153B;
    display:flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#helpButton p {
    margin:0;
}

#myForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;

    position: absolute;
    width: 384.11px;
    left: 522.18px;
    top: 60px;

    background: #E8E9EB;
    border-radius: 15px;
}
#myForm > * > * > * {
    display: block;
    height: 25px;
    margin-bottom: 24px;
    padding: 0;
    
}
#myForm .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    width: 374px;
}
#myForm  .top .left{
    margin-right: 24px;
}
#myForm .top .left > * {
    display: flex;
    align-items: center;
}
#myForm .top .right > * {
    border: 1px black solid;
    border-radius: 2px;
    height: 23px;
}
#myForm .bottom{
    width: 374px;
    display: flex;
    justify-content: space-between;
}

 button{
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: bold;
    outline: none;
    border: none;
}

#back{
    background: #B1B3B5;
}
#next{
    background: #B1B3B5;
}
#back:hover{
    background: #FFA62B;
}
#next:hover{
    background: #FFA62B;
}

#overlay{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 250ms;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}
#overlay.open{
    opacity: 1;
    pointer-events: all;
}
#overlay .content{
    background: #E8E9EB;
    padding: 20px 40px;
    width: 490px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    border-radius: 15px;
}
button{
    background: #B1B3B5;
}
button:hover{
    background: #FFA62B;
}
#overlay .content .title{
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */


    color: #090B0B;
}
.hidden{
    display:none !important;
}
#result {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    padding: 35px;

    position: absolute;
    width: 384.11px;
    left: 522.18px;
    top: 120.11px;

    background: #E8E9EB;
    border-radius: 15px;
}
#incomplete-notice{
    color: #5E3B3B;
}

#stars {
    animation: 3s ease-in-out infinite alternate glow;
}

#spookyPPOP{
    animation: 3s ease-in-out infinite alternate slidein;
}

#potionAnimation {
    animation: 2s ease-in-out infinite alternate bubble;
}

@keyframes slidein {
    0% {
        transform: translateY(100px);
    }

    33% {
        transform: translateY(0px);
    }
    
    66%{
        transform: translateY(0px);
    }

    80% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(100px);
    }
  }

  @keyframes bubble {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
  }

  @keyframes glow {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }

  }