html {
    letter-spacing: -0.5px;
    font-family: 'Inter', sans-serif;
    background-color: #12263A;
    color: #F4EDEA;
}

nav {
    font-size: 16px;
    height: 80px;
    border-bottom: thin solid #C5D8D1;
    display: flex;
    padding: 30px 56px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transition: border-bottom 440ms;
}

#portal-link {
    color: #F4EDEA90;
    transition: color 440ms;
}

a {
    color: #06BCC1;
    text-decoration: none;
    transition: color 440ms;
}

a:visited {
    color: #06BCC1;
    text-decoration: none;
    transition: color 440ms;
}

#name {
    color: #06BCC1;
}

#gradient-box {
    position: absolute;
    width: 100%;
    height: 12px;
    left: 0px;
    top: 0px;
    background: linear-gradient(270deg, #21BCC0 0%, #F3D1B0 100%);
}


/* END OF FINAL PROJECT THEME */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 502.7px;
    height: 253px;
    left: 144px;
    top: 293px;
}

header div {
    padding-left: 48px;
}

header div p {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    color: #F4EDEA85;
}

header div h1 {
    font-weight: 800;
    font-size: 64px;
    line-height: 77px;
    width: 435px;
    margin: 0;
}


/* END OF LEFT SIDE HEADING */

main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding: 0;
    width: 488px;
    position: absolute;
    right: 144px;
    top: 140px;
}

main * {
    margin: 0;
    padding: 0;
    width: 488px;
}

main h1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #F4D1AE;
}

main p {
    font-size: 14px;
    line-height: 20px;
    color: #C5D8D1;
    padding-bottom: 48px;
}

header :last-child {
    padding-top: 16px;
}